@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6; }

header {
  background-color: #FCDB00; }

.top-banner {
  padding: 60px 0; }

.carousel-indicators {
  bottom: -60px; }
  .carousel-indicators li {
    border-radius: 100%;
    width: 15px;
    height: 15px; }

.carousel-item .row {
  align-items: center; }

.right-image {
  text-align: right;
  padding-right: 20px; }
  .right-image phone-image {
    padding-right: 20px;
    padding-right: 17px; }
  .right-image img {
    width: 63%; }

.navbar-light .navbar-nav .nav-item {
  padding-left: 60px; }
  .navbar-light .navbar-nav .nav-item .nav-link {
    color: #010101;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600; }

.left-content h1 {
  font-size: 36px;
  color: #010101;
  font-weight: 600;
  margin-bottom: 18px; }
.left-content h5 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.2; }
.left-content p {
  font-size: 17px;
  line-height: 1.2;
  color: #333333e0; }
.left-content .three-icons {
  margin-top: 30px; }
  .left-content .three-icons .nav {
    font-size: 45px; }
    .left-content .three-icons .nav li {
      padding-right: 30px;
      color: #010101; }

.feature-section {
  padding: 120px 0; }
  .feature-section .feature-content {
    text-align: center; }
    .feature-section .feature-content h1 {
      text-transform: capitalize;
      color: #010101; }
    .feature-section .feature-content p {
      color: #33333396; }
  .feature-section .box {
    margin-top: 45px; }
    .feature-section .box .icon i {
      font-size: 50px;
      margin-top: 7px; }
    .feature-section .box .box-content {
      margin-left: 20px; }
      .feature-section .box .box-content h1 {
        font-size: 26px;
        font-weight: 500;
        text-transform: capitalize; }
      .feature-section .box .box-content p {
        color: #33333396;
        line-height: 1.5;
        padding-top: 10px; }

footer {
  background-color: #010101; }
  footer .touch-contant {
    text-align: center; }
    footer .touch-contant h1 {
      color: #FCDB00;
      padding-top: 80px; }
    footer .touch-contant p {
      color: #ffffff85;
      margin-bottom: 40px;
      text-align: center; }
  footer .submit {
    padding-bottom: 50px; }
  footer .btn-custom {
    background-color: #FCDB00;
    border: 1px solid #FCDB00;
    text-transform: uppercase; }
  footer .media .nav {
    justify-content: center; }
    footer .media .nav li a {
      margin-left: 25px;
      background-color: #FCDB00;
      margin-left: 25px;
      background-color: #FCDB00;
      width: 40px;
      height: 37px;
      line-height: 40px;
      color: #000;
      display: block;
      text-align: center; }

.footer-link {
  padding: 120px 0;
  color: #fff; }
  .footer-link ul {
    list-style: none;
    margin: 0; }
    .footer-link ul li {
      margin: 0; }
      .footer-link ul li a {
        text-decoration: none;
        color: #fff9;
        text-transform: capitalize; }

@media (max-width: 991px) {
  .left-content h1 {
    font-size: 31px; }

  .left-content h5 {
    font-size: 17px; }

  .left-content p {
    font-size: 15px; } }
@media (max-width: 767px) {
  .right-image img {
    width: 89%; }

  .right-image img {
    width: 89%; }

  .left-content p {
    font-size: 12px; }

  .left-content h5 {
    font-size: 15px; }

  footer .media .nav li a {
    margin-top: 15px; }

  .text-align-center {
    text-align: center; }

  .left-content .three-icons .nav {
    font-size: 36px; }

  .feature-section .box .box-content h1 {
    font-size: 21px; }

  .feature-section .box .icon i {
    font-size: 40px;
    margin-top: 7px; }

  .feature-section .box .icon i {
    font-size: 40px;
    margin-top: 7px; }

  .feature-section .box .box-content p {
    font-size: 15px; }

  .feature-section {
    padding: 67px 0; }

  .feature-section .feature-content p {
    color: #333333f2; } }
@media (max-width: 576px) {
  .right-image {
    text-align: center; }

  .right-image img {
    width: 50%; }

  .left-content .three-icons .nav {
    font-size: 36px;
    justify-content: center;
    margin-bottom: 25px; }

  .left-content {
    text-align: center; }

  .left-content h1 {
    font-size: 40px; }

  .left-content h5 {
    font-size: 20px; }

  .left-content h5 {
    font-size: 20px; }

  .left-content p {
    font-size: 15px;
    line-height: 1.3; }

  .feature-section .box {
    margin-top: 45px;
    width: 50%;
    margin: auto;
    margin-bottom: 27px;
    margin-top: 45px; }

  .footer-link ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  .footer-link {
    padding: 40px 0;
    color: #fff;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
